body{
	background: #f06226;
	color:#fff;
	font-family: Arial, sans-serif;
	font-size:14px;
}

#container{
	width:60%;
	background:#199fdb;
	margin:20px auto;
	overflow:auto;
	padding:25px;
}

header{
	text-align:center;
	border-bottom:# dashed 1px;
}

header h1{
	margin:0;
	padding:0;
}

header p{
	padding:0;
	margin-top:5px;
	color:#000;
}

section{
	min-height:400px;
}

footer{
	text-align:center;
}

input[type='submit']{
	background: #f06226;
	border:0;
	color:#fff;
	margin:0px auto;
	padding:10px 15px;
	cursor:pointer;
}
#results h3{
	background:#f06226;
	padding:10px;
	margin:10px 0px;	
}
#results span{
	
	color:#000;
	font-weight:bold;
}
